.profile-picture{
    width: 250px;
    height: 250px;
    border-radius: 30%;
    object-fit: cover;
    object-position: center right;
}

.container {
    overflow: hidden;
    height: 100%;
    .about-me{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            text-align: center;
            width: 60%;
        }
    }
}

