
.projects-container{
    background-color: rgb(221, 219, 219);
    width: 90%;
    margin: auto;
    padding: 5px 0;
    border-radius: 10px;

    .cards {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .card-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;            
            margin: 20px;
            // border: solid 1px black;
    
    
            .description{
                text-align: center;
                margin: 10px;
    
                .stack{
                    font-weight: 800;
                }

                .project-title{
                    text-decoration: underline;
                }

            }
    
    
            img {
                width: 500px;
                height: 500px;
            }
    
        }
    }
    
}