

.projects-container{
    background-color: rgb(221, 219, 219);
    margin: auto;
    padding: 5px 0;
    border-radius: 10px;

    .cards {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .card-wrapper {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;            
            margin: 10px;
            // border: solid 1px black;
            .description{
                text-align: center;
                margin: 10px;
    
                .stack{
                    font-weight: 800;
                }

                .project-title{
                    text-decoration: underline;
                }

            }

            img{
                width: auto;
                min-width: 500px;
                height: 100%;
                max-height: 500px;
            }
    
        }
    }
    
}