.projects-container {
    background-color: rgb(221, 219, 219);
    margin: auto;
    padding: 5px 0;
    border-radius: 10px;

    h1 {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        color: #45474a;
        font-size: 40px;
        margin: 0;
        margin-bottom: 5px;
    }

    span {
        border-top: 4px solid;
        color: #45474a;
        display: block;
        margin: 0 auto;
        width: 70px;
        margin-bottom: 75px;
    }

    .containerA {
        @media (min-width: 768px) {
            max-width: 1500px;
            margin: 0 auto;
        }
    }

    .rowA {
        @media (min-width: 768px) {
            display: flex;
        }
    }

    h2 {
        font-family: "Manjari", sans-serif;
        margin: 0;
        padding-bottom: 10px;
        text-align: center;
        background-color: #f6f6f6;
        color: #45474a;
    }

    .colA {
        background-color: white;
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: 768px) {
            margin: 0 10px;
            margin-bottom: 35px;
        }

        .image-container {
            position: relative;

            .thumbnail {
                width: 500px;
                height: 500px;
                border-bottom: 1px #e8e8e8 solid;
            }
            
        }

        p {
            margin: 0;
            padding: 0;
            padding: 10px;
            font-family: "Manjari", sans-serif;
            font-size: 18px;
            color: #45474a;
        }
    }
}
